<div class="container mt-4 mb-4 pt-4" style="min-height: 800px;">
  <div *ngIf="pageStatus=='recruiter'"><!-- For Recruiter -->
    <div class="row g-3 m-2">
      <div class="col-sm-10 p-2">
        <div class="card cardBackGround border-success text-white text_font">
          <div class="row m-2 text-start">
            <div class="col-6"><h5>Candidate Information</h5></div>
            <div class="col-6 text-end">RecruiterName: {{candidate.recruiterName}}</div>
            <hr>
            <div class="row">
              <div class="col-4">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" class="form-control" [(ngModel)]="candidate.firstName">
              </div>
              <div class="col-3">
                <label for="middleName">Middle Name:</label>
                <input type="text" id="middleName" name="middleName" class="form-control" [(ngModel)]="candidate.middleName">
              </div>
              <div class="col-4">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName"  class="form-control" [(ngModel)]="candidate.lastName">
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-10">
                    <label for="ssn">SSN:</label>
                    <input type="text" id="ssn" name="ssn" class="form-control" [(ngModel)]="candidate.ssn">
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <label for="visaStatus">Visa Status:</label>
                    <input type="text" id="visaStatus" name="visaStatus"  class="form-control" [(ngModel)]="candidate.visaStatus">
                  </div>
                </div>
                <div class="row">
                  <div class="col-10">
                    <label for="source">Source:</label>
                    <input type="text" id="source" name="source" class="form-control" [(ngModel)]="candidate.details.source">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row mt-5">
                  <div class="col-4 text-end">
                    <label for="resume">Resume:</label>
                  </div>
                  <div class="col-6">
                    <input type="file" id="resume" name="resume" (change)="onFileSelected($event, 'resume')" class="form-control-file" >
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-4 text-end"><label for="otherFile">Other Files:</label></div>
                  <div class="col-6"><input type="file" id="otherFile" name="otherFile" (change)="onFileSelected($event, 'otherFile')" class="form-control-file"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row m-2 text-start">
            <div class="col-6">
              <h5>Contact Information</h5>
              <hr>
              <div class="row mt-2">
                <div class="col-10">
                  <label for="emailId">Email ID:</label>
                  <input type="email" id="emailId" name="emailId" class="form-control" [(ngModel)]="candidate.email">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-10">
                  <label for="phoneNumber">Phone Number:</label>
                  <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" [(ngModel)]="candidate.phoneNumber">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <label>Address:</label>
                  <div class="row mt-2">
                    <div class="col-11 text-end">
                      <input class="form-control text_bold text_font" type="text" value="" placeholder="Line 1" [(ngModel)]="candidate.details.addressLine1">
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-11 text-end">
                      <input class="form-control text_bold text_font" type="text" value=""  placeholder="Line 2" [(ngModel)]="candidate.details.addressLine2">
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-4 me-2">
                      <input class="form-control text_bold text_font" type="text" value="" placeholder="City" [(ngModel)]="candidate.details.addressCity">
                    </div>
                    <div class="col-4">
                      <input class="form-control text_bold text_font" type="text" value="" placeholder="State" [(ngModel)]="candidate.details.addressState">
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-6 text-end">
                      <input class="form-control text_bold text_font" type="text" value="" placeholder="ZipCode" [(ngModel)]="candidate.details.addressZipCode">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <h5>Skill Set</h5>
              <hr>
              <div class="row mt-2">
                <div class="col-10">
                  <label>Skill:</label>
                  <input type="text" class="form-control" [(ngModel)]="candidate.details.skillSet">
                </div>
              </div>
              <div class="rowmt-2">
                <div class="col-10">
                  <label>Work Experience:</label>
                  <input type="text" id="emailId" name="emailId"class="form-control" [(ngModel)]="candidate.workExperience">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-10">
                  <label>Communication Skill:</label>
                  <input type="text" id="emailId" name="emailId"class="form-control" [(ngModel)]="candidate.details.communicationSkill">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2 p-2">
        <button (click)="chanegStatus('tech')">Next</button>
      </div>
  </div>
  <div *ngIf="pageStatus=='recruiter'">
    <div class="row g-3 m-2">
      <div class="col-sm-2 p-2">
        <button (click)="chanegStatus('recruiter')">Prev</button>
      </div>
      <div class="col-sm-10 p-2">

      </div>
      <div class="col-sm-2 p-2">
        <button (click)="chanegStatus('BD')">Next</button>
      </div>
    </div>
  </div>
</div>

    <!--
  <div class="row g-3 m-2">
    <div class="col-sm-4 p-2">
      <div class="form-group">
        <label for="techInterviewDate">Tech Interview Date:</label>
        <input type="text" id="techInterviewDate" name="techInterviewDate" [(ngModel)]="candidate.techInterviewDate" class="form-control">
      </div>
      <div class="form-group">
        <label for="interviewFeedback">Interview Feedback:</label>
        <textarea id="interviewFeedback" name="interviewFeedback" [(ngModel)]="candidate.interviewFeedback" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="candidateInterviewStatus">Candidate Interview Status:</label>
        <input type="text" id="candidateInterviewStatus" name="candidateInterviewStatus" [(ngModel)]="candidate.candidateInterviewStatus" class="form-control">
      </div>
    </div>
    <div class="col-sm-4 p-2">
      <div class="form-group">
        <label for="LOIsent">LOI Sent:</label>
        <input type="text" id="LOIsent" name="LOIsent" [(ngModel)]="candidate.LOIsent" class="form-control">
      </div>
      <div class="form-group">
        <label for="LOIaccepted">LOI Accepted:</label>
        <input type="text" id="LOIaccepted" name="LOIaccepted" [(ngModel)]="candidate.LOIaccepted" class="form-control">
      </div>
      <div class="form-group">
        <label for="joinedBatch">Joined Batch:</label>
        <input type="text" id="joinedBatch" name="joinedBatch" [(ngModel)]="candidate.joinedBatch" class="form-control">
      </div>
      <div class="form-group">
        <label for="batchStartDate">Batch Start Date:</label>
        <input type="text" id="batchStartDate" name="batchStartDate" [(ngModel)]="candidate.batchStartDate" class="form-control">
      </div>
    </div>-->


