<div class="container mt-4 mb-4 pt-4" style="min-height: 800px;">
  <div class="row g-3 m-2">
    <div class="col-sm-3 p-2">
      <div class="card border border-success cardBackGround" style="min-height: 600px;">
        <div class="card-body text-center">
          <h3 class="card-title text-center border-bottom pb-4">UserName</h3>
          <div class="row g-3">
            <div class="col-sm-12 border-bottom">
              <a class="col-form-label h3">Account Info</a>
            </div>
            <div class="col-sm-12 border-bottom">
              <a class="col-form-label h3">Phone</a>
            </div>
            <div class="col-sm-12 border-bottom">
              <a class="col-form-label h3">E-mail</a>
            </div>
            <div class="col-sm-12 border-bottom">
              <a class="col-form-label h3">Password</a>
            </div>
            <div class="col-sm-12 border-bottom">
              <a class="col-form-label h3">Address</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 p-2">
      <div class="card border border-success p-2 cardBackGround" style="height: 600px;">
        <div class="card-body text-center">
          <div class="row g-0">
            <div class="card-body">
              <h3 class="card-title text-center border-bottom  pb-4">Info</h3>
              <div id="errorMessage">
              </div>
              <div class="col-sm-12 border-top text-end mt-2 pt-t">
                <button class="btn btn-primary mb-3 btn-lg py-1 px-5 ms-4">Update</button>
                <button class="btn btn-primary mb-3 btn-lg py-1 px-5 ms-4">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
