<div class="container box">
    <div class="mb-4">
        <h1 class="fw-bold text-center title">SNVA CRM</h1>
    </div>
    <div class="row justify-content-center">
        <div class="card col-12 col-md-6 col-lg-4 border border-success-subtle cardBackGround">
            <!-- Your login form or content here -->
            <h1 class="mt-4 text-center text_font text-white">Welcome</h1>
            <p class="mb-3 text-center sub-text text_font text-white">Log in to continue</p>
            <form (submit)="logIn()"> <!--need to add submit action ngSubmit and ngModel for username and password-->
                <div class="mb-3 text-start">
                    <label for="username" class="form-label text_font text-white">Email / Username</label> <input
                        type="text" class="form-control" name="username" id="username" [(ngModel)]="user.username" required>
                </div>
                <div class="mb-3 text-start" >
                    <label for="password" class="form-label text_font text-white">Password</label> <input
                        type="password" class="form-control" name="password" id="password" [(ngModel)]="user.password" required>
                </div>
                <div class="container d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn btn-success btn-long-bar mb-4 ">Login</button>
                </div>
                <div id="errorMessage"></div>
                <div>
                    <p class="text-center text_font text-white" (click)="resetPassword()">Forgot Your Password?</p>
                </div>
            </form>
        </div>
    </div>
</div>


