
<nav class="navbar navbar-expand-lg navbar-light text-white bg-success">
  <div class="container-fluid justify-content-between">
    <h2><a class="navbar-brand" routerLink="/home">Interview App</a></h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbar">
      <p class="fw-bold my-0" style="color: white; ">{{fullName}}</p>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item mt-2">
          <a class="nav-link fw-bold" style="color: white;" routerLink="">My Account</a>
        </li>
        <li class="nav-item dropdown" style="caret-color: black;" >
          <a class="nav-link dropdown-toggle mt-2 fw-bold" style="color: white;"   href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manage Users
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="">List Of Admins</a>
            <a class="dropdown-item" routerLink="">Add New Admin</a>
          </div>
        </li>
        <li class="nav-item mt-2">
          <a class="nav-link fw-bold" style="color: white;" (click)="logout()" routerLink="">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
