<!-- Super Admin Homepage -->
<div class="container">
  <div class="card cardBackGround mt-5 border-success">
    <span class="text_font text_middle text-white">{{ time | date: 'HH:mm:ss' }} EST</span>
  </div>
  <div class="row text_font mt-5">
    <div class="col-md-4 ">
      <div class="box card cardBackGround border-success">
        <!-- Content for the left box goes here -->
        <h2 class="mb-4">
          <span class=" card bg-success text_font text_middle text-white" style="font-size: 2rem">To-Do List</span>
        </h2>
        <div class="input-group mb-3">
          <input
            [(ngModel)]="toDoText"
            class="form-control"
            placeholder="Add a new to-do item"
          />

          <button (click)="addItem()" class="btn btn-primary">+</button>
        </div>
        <ul class="list-group" style="height: 340px;overflow-y: scroll">
          <li
            *ngFor="let item of toDoItems"
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <span>{{ item.text }}</span>
            <button (click)="removeItem(item.id)" class="btn btn-danger delete">
              -
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8 ">
      <div class="box card cardBackGround border-success">
        <!-- Content for the right box goes here -->
        <h2 class="card bg-success text_font text_middle text-white" style="font-size: 2rem">
          Task Performance
        </h2>
        <canvas id="myChart" width="400" height="200"></canvas>
      </div>
    </div>
  </div>
</div>
