@import "~bootstrap-icons/font/bootstrap-icons.css";

.dropdown-item:hover
{
  background: grey;
  color: #FFFFFF;
}

footer{
  background: #000;
  padding:30px 0;
  color: #fff;
  width: 100%;
  min-height: 90px;
  float: left;
  margin-top:0 !important;
}

.cardBackGround
{
  background-color:rgba(22,22,22,0.75);
  color:black;
}

.title{
  color: rgb(241, 159, 5);
  font-size: 50px;
}

.text_hover:hover
{
  background: grey;
}

.text_title
{
  color: #FFFFFF;
  font-size: 40px;
}

.text_font
{
  font-family:"courier new", courier, monospace;
}

.text_bold
{
  font-weight: 800;
}

.text_middle
{
  font-size: 1.3em;
}

.text_table
{
  font-size: 1em;
}

.text_error
{
  color: #f00;
}

.sub-text{
  font-size: small;
}

.btn-long-bar {
  display: block;
  width: 35%;
  padding: 10px 20px; /* Adjust padding as needed */
  text-align: center;
}

.img_roll
{
  border-radius: 50%;
}

.img_radius
{
  border-radius: 20%;
}

.img_square
{
  border-radius: 50%;
}

.img_lg
{
  height: 200px;
  width: 200px;
}

.popBox
{
  margin-top: 16em;
  text-align: center;
  align-items: center;
}

.popBox-h
{
  margin-top: 10em;
  text-align: center;
  background-color:transparent;
}

.progress
{
  height: 10px;
  width: 100%;
}

.progress-bar
{
  bottom: 0px;
  height: 10px;
  background: #0af;
  position: relative;
  animation: animate-positive;
  animation-duration: 3s;
}

@keyframes animate-positive {
  0% { width: 0%;}
}


