<div class="card text_font border-success bg-dark">
  <div class="mb-4">
    <h1 class="text_middle text-white m-2">Add New Account</h1>
  </div>
  <form class="m-2"> <!--need to add submit action ngSubmit and ngModel for username and password-->
    <div class="mb-3 text-start">
      <label for="username" class="form-label text_font text-white">Role</label>
      <input type="text" class="form-control" name="username" id="username" required>
    </div>
    <div class="mb-3 text-start">
      <label for="username" class="form-label text_font text-white">Email / Username</label> <input
      type="text" class="form-control" name="username" id="username" required>
    </div>
    <div class="mb-3 text-start" >
      <label for="password" class="form-label text_font text-white">Password</label> <input
      type="password" class="form-control" name="password" id="password" required>
    </div>
    <div class="mb-3 text-start" >
      <label for="password" class="form-label text_font text-white">Confirm</label> <input
      type="password" class="form-control" name="password" id="password" required>
    </div>
    <div class="container d-flex justify-content-center align-items-center">
      <button type="submit" class="btn btn-success btn-long-bar mb-4 ">Add</button>
    </div>
  </form>
</div>


